.templates_sha: &template_sha 62b11fa3f746b38ae413fc936cc6ae96960dd448 # see https://docs.gitlab.com/ee/ci/yaml/#includefile


include:
  - project: 'freedesktop/ci-templates'
    ref: *template_sha
    file:
      - '/templates/freebsd.yml'
      - '/templates/debian.yml'
      - '/templates/ci-fairy.yml'


stages:
  - review
  - prep
  - build


variables:
  DEBIAN_PACKAGES: 'build-essential pkg-config libexpat1-dev libffi-dev libxml2-dev doxygen graphviz xmlto xsltproc docbook-xsl python3-pip python3-setuptools ninja-build'
  DEBIAN_EXEC: 'pip3 install meson==0.52.1'
  # these tags should be updated each time the list of packages is updated
  # changing these will force rebuilding the associated image
  # Note: these tags have no meaning and are not tied to a particular
  # wayland version
  DEBIAN_TAG: '2021-07-26.0'
  FDO_UPSTREAM_REPO: wayland/wayland


.debian.buster:
  variables:
    FDO_DISTRIBUTION_PACKAGES: $DEBIAN_PACKAGES
    FDO_DISTRIBUTION_TAG: $DEBIAN_TAG
    FDO_DISTRIBUTION_VERSION: 'buster'
    FDO_DISTRIBUTION_EXEC: $DEBIAN_EXEC


check-commit:
  extends:
    - .fdo.ci-fairy
  stage: review
  script:
    - ci-fairy check-commits --signed-off-by --junit-xml=results.xml
  variables:
    GIT_DEPTH: 100
  artifacts:
    reports:
      junit: results.xml


debian:buster@container-prep:
  extends:
    - .debian.buster
    - .fdo.container-build@debian
  stage: prep
  variables:
    GIT_STRATEGY: none
    FDO_CBUILD: https://gitlab.freedesktop.org/api/v4/projects/5764/packages/generic/cbuild/sha256-3606152dfd34af076f6c09d24bb8cdf128fce83d07d53d91745c101ec06c7209/cbuild


build-native:
  extends:
    - .debian.buster
    - .fdo.distribution-image@debian
  stage: build
  script:
  - export BUILD_ID="wayland-$CI_JOB_NAME_$CI_COMMIT_SHA-$CI_JOB_ID"
  - export PREFIX="$(pwd)/prefix-$BUILD_ID"
  - export BUILDDIR="$(pwd)/build-$BUILD_ID"
  - mkdir "$BUILDDIR" "$PREFIX"
  - cd "$BUILDDIR"
  - meson --prefix="$PREFIX" -Db_sanitize=address,undefined -Dicon_directory=/usr/share/X11/icons ..
  - ninja -k0 test
  - ninja clean
  artifacts:
    name: wayland-meson-$CI_COMMIT_SHA-$CI_JOB_ID
    when: always
    paths:
    - build-meson/meson-logs
    - prefix-*
    reports:
      junit: build-meson/meson-logs/testlog.junit.xml

.freebsd.13:
  variables:
    FDO_DISTRIBUTION_PACKAGES: 'libxslt meson ninja pkgconf expat libffi libepoll-shim libxml2'
    FDO_DISTRIBUTION_VERSION: '13.0'
    FDO_DISTRIBUTION_TAG: '2021-07-26.1'
    FDO_CBUILD: https://gitlab.freedesktop.org/api/v4/projects/5764/packages/generic/cbuild/sha256-3606152dfd34af076f6c09d24bb8cdf128fce83d07d53d91745c101ec06c7209/cbuild


freebsd:13.0@qemu-build@x86_64:
  extends:
    - .fdo.qemu-build@freebsd@x86_64
    - .freebsd.13
  stage: prep


freebsd:13.0@qemu-check@x86_64:
  extends:
    - .fdo.distribution-image@freebsd
    - .freebsd.13
  stage: build
  script:
    # start the VM. This also sets up ssh/scp to connect to "vm"
    # correctly.
    - /app/vmctl start
    # copy our workspace to the VM
    # The quotes are required to stop the ':' from parsing as yaml
    - scp -r $PWD "vm:"
    # run test-command on the VM and create the .success file if it
    # succeeds
    - /app/vmctl exec "cd $CI_PROJECT_NAME ; meson build/ -Ddocumentation=false && ninja -C build/ -j${FDO_CI_CONCURRENT:-4}"
    - /app/vmctl exec "cd $CI_PROJECT_NAME ; meson test -C build/" && touch .success
    # copy any test results from the VM to our container so we can save them as artifacts
    - scp -r vm:$CI_PROJECT_NAME/build/meson-logs .
    # shut down the VM
    - /app/vmctl stop
    # our CI script exit code should match the test command exit status
    - test -e .success || exit 1
  artifacts:
    name: wayland-meson-$CI_COMMIT_SHA-$CI_JOB_ID
    when: always
    paths:
      - meson-logs
    reports:
      junit: meson-logs/testlog.junit.xml
