name: Test

on: [push]

jobs:
  testfreebsd:
    runs-on: macos-latest
    name: Run tests inside a FreeBSD VM
    steps:
      - uses: actions/checkout@v2
      - name: Test in FreeBSD
        id: test
        uses: vmactions/freebsd-vm@v0.1.3
        with:
          usesh: true
          prepare: pkg install -y meson ninja pkgconf expat libxml2 cmake git
          # TODO: install the libepoll-shim package once there is a release with my fixes
          run: |
            set -e
            env
            ls -lah
            whoami
            env
            freebsd-version
            _srcdir=`pwd`
            cd /tmp
            git clone https://github.com/jiixyj/epoll-shim.git && cd epoll-shim && cmake . && make -j4 && make install
            cd "$_srcdir"
            mkdir build
            meson setup build -Ddocumentation=False
            meson compile -C build
            meson test -C build --print-errorlogs


